.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-size-large;
    font-weight: 300;
    padding: $s-size;
}

.select {
    @extend .text-input; // @extend this is a sass method that extends all your text-input css props and put them th ur .select as a props
}   

.textarea {
    @extend .text-input;
    height: 10rem;
}